<template name="ESF_CUSTOM">
    <div class="event-sign-form-setting" data-type="{{type}}">
      <div class="input-type">
         <!-- 用来插入输入框类型的图片. -->
      </div>
      <div class="event-sign-form-input">
          <input type="text" class="form-control required" id="title-{{formId}}" title="{{title}}" placeholder="{{title}}" name="title">
      </div>
      <button class="btn pull-right btn-danger"><i class="fa fa-times delete-custom-form" data-id="{{formId}}"></i></button>
    </div>

    {{#if multi}}
      <div class="row">   <!-- modified by chenyuan, on 2015-09-15 -->
          <div class="col-lg-6 col-lg-offset-1"> <!-- modified by chenyuan, 9, 15 -->
              <div class="option-container">
                  <div class="custom-form-options-container-{{formId}}">
                      <!-- option container -->
                  </div>
              </div>
              <button class="btn btn-default add-form-options" data-id="{{formId}}">添加选项&nbsp;<i class="fa fa-plus"></i></button>
          </div>
      </div>
    {{/if}}
</template>

<template name="custom-form-options">
      <div class="event-sign-form-input">
        <input type="text" class="form-control options-{{formId}}"/>
      </div>
      <button class="btn pull-right btn-danger">
        <i title="删除该选项" class="fa fa-trash-o delete-form-option"></i>
      </button>
</template>

<template name="one-line-text">
      <span class="pull-left one-line-text"></span>
</template>
<template name="multi-line-text">
      <span class="pull-left multi-line-text"></span>
</template>
<template name="radio-text">
      <span class="pull-left radio-text"></span>
</template>
<template name="checkbox-text">
      <span class="pull-left checkbox-text"></span>
</template>
