#avatar-upload {
    max-width: 250px;
    margin: 0 auto 20px auto;
}

#avatar-upload .loader {
    width: 240px;
    height: 240px;
    background-image: url("arrow_loader.gif");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: alpha(opacity=50);
    opacity: .5;
}