<template name="manageEventsList">
  <div hidden>
  <button  type="button" class="btn btn-primary updateModal" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">活动信息修改</h4>
        </div>
        <div class="modal-body">
          {{> quickForm collection="Events" doc=eventColl id="updateEventForm" type="update"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default updateClose" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>标题</th>
        <th>时间</th>
        <th>地点</th>
        <th>发布者</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {{#each eventsList}}
      {{> manageEventsItem}}
      {{/each}}
      </tbody>
    </table>
</template>
