.group-header-navbar {
  margin-bottom: 0 !important;

  @media (min-width: @screen-sm-min) {
    min-height: @navbar-lg-height;

    .navbar-header {
      .navbar-brand {
        height: @navbar-lg-height;
        padding-top: @navbar-lg-padding-vertical;
        padding-bottom: @navbar-lg-padding-vertical;
      }
    }

    .navbar-nav > li > a {
      padding-top: @navbar-lg-padding-vertical;
      padding-bottom: @navbar-lg-padding-vertical;
    }
  }
}
