<template name="ESF_CUSTOM">
  <div class="event-sign-form-setting " data-type="{{type}}">
    <!-- 用来插入输入框类型的图片. created by ChenYuan.-->
    <span class="pull-left {{generateTypeClass type}}"></span>

    <!-- 代码 1 -->

    <button class="btn pull-right btn-danger delete-custom-form" disabled="{{disabled}}" data-formId="{{id}}"><i class="fa fa-trash-o"></i></button>
    <div class="event-sign-form-input{{#if isMultiForm type}} new-added-form{{/if}}">
      <input type="text" class="form-control required sign-form-label" disabled="{{disabled}}" data-formId="{{id}}" id="title-{{id}}" placeholder="{{placeholder}}">
    </div>
    {{#if isMultiForm type}}
      <div class="option-container">
        <div class="custom-form-options-container-{{id}}">

          <!-- 代码 4 -->

          <!-- option container -->
          {{#each options}}
            {{> custom_form_options}}
          {{/each}}

        </div>
      </div>
    {{/if}}

    <!-- created by chenyuan, 底部的虚线框中的指示性内容。-->
    {{#if isMultiForm type}}
      <button class="btn btn-default pull-right add-form-options" data-id="{{id}}" data-type="{{type}}"><i class="fa fa-plus"></i></button>
      <div class="event-sign-form-input add-form-options" data-id="{{id}}" data-type="{{type}}">
        <div  class="form-control input-added" id="title-{{id}}">添加{{#if isCheckBox type}}多选选项{{else}}单选选项{{/if}}</div>
      </div>
    {{/if}}
  </div>
</template>




<template name="custom_form_options">
  <div class="custom-form-options">
    <i class="pull-left fa {{#if isCheckBox type}}fa-square-o{{else}}fa-circle-o{{/if}} text-center tip-info"></i>
    <!-- 代码 3 -->
    <button class="btn pull-right btn-default delete-form-option" data-formId="{{formId}}" data-optionId="{{id}}" title="删除该选项"><i class="fa fa-trash-o"></i></button>
    <div class="event-sign-form-input">
      <input type="text" class="form-control options-{{formId}} multiFormOptions" data-formId="{{formId}}" data-optionId="{{id}}" placeholder="{{placeholder}}"/>
    </div>
  </div>
</template>
