<template name="groupCreate">
  {{!--
  {{> authModals}}
  --}}

  <div class="container group-create-container">

    <div class="page-header">
      <div class="row">
        <h1 class="col-md-offset-2 col-md-10">创建组织</h1>
      </div>
    </div>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputGroupName" class="col-md-2 control-label">我们的组织叫</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="inputGroupName" name="name" placeholder="逗比俱乐部&hellip;">
        </div>
      </div>
      <div class="form-group">
        <label for="inputGroupHomecity" class="col-md-2 control-label">坐落在</label>
        <div class="col-md-2">
          {{#styledSelect id="inputGroupHomecity" name="homeCity" selectValue=currentCity}}
            {{#each cities}}
              <option>{{this}}</option>
            {{/each}}
          {{/styledSelect}}
        </div>
      </div>

      <div class="form-group">
        <label for="inputMemberAlias" class="col-md-2 control-label">我们自称为</label>
        <div class="col-md-2">
          <input type="text" class="form-control" id="inputMemberAlias" name="memberAlias"
                 placeholder="逗比&hellip;">
        </div>
      </div>
      <!--
      <div class="form-group">
        <label for="inputMemberTraits" class="col-md-2 control-label">我们的特质有</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="inputMemberTraits"
                 placeholder="搞笑&hellip;">
        </div>
      </div>
      -->
      <div class="form-group">
        <label for="inputGroupDescription" class="col-md-2 control-label">组织简介</label>
        <div class="col-md-8">
          <textarea class="form-control" rows="5" id="inputGroupDescription" name="description" placeholder="向大家介绍一下这个可爱的组织吧！"></textarea>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-8 text-right">
          <a href="{{pathFor 'index'}}" role="button" class="btn btn-link btn-lg">返回首页</a>
          <button type="submit" class="btn btn-primary btn-lg">创建组织</button>
        </div>
      </div>
    </form>
  </div>
</template>
