<template name="groupHome">

  <div class="jumbotron group-jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <img src="/bros.jpg" class="img-responsive img-rounded fullwidth">
        </div>
        <div class="col-sm-8 col-md-9">
          <h1>上海逗比俱乐部</h1>
          <p><small>欢迎在上海的互联网公司的产品经理们加入，我们需要多多交流，不定期举办线下活动，每次讨论一个产品（一般是群组某个成员的产品）</small></p>
          <!--<p><small>欢迎广大逗比加入！</small></p>-->
          <p>
            <a class="btn btn-lg btn-success" href="javascript:void(0)" role="button">赶快加入</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body panel-body-condensed">
        <ul class="nav nav-pills pull-left">
          <li role="presentation" class="active"><a href="javascript:void(0)">首页</a></li>
          <li role="presentation"><a href="javascript:void(0)">成员</a></li>
          <li role="presentation"><a href="javascript:void(0)">活动</a></li>
        </ul>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="javascript:void(0)">组织管理</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 sidebar">

      </div>

      <div class="col-md-9 main">
        Hi there?
      </div>
    </div>
  </div>
</template>
