<template name="groupHome">
  <div class="container group-home-container">
    <div class="row">
      <aside class="col-md-3">
        <section class="thumbnail group-info">
          <a href="javascript:void(0)"><img src="/bros.jpg"></a>
          <div class="caption">
            <h2 class="visible-xs-block visible-sm-block">杨浦创业俱乐部</h2>
            <h2 class="small text-muted">创建于 2015年10月12日</h2>

            <ul class="group-stats">
              <li>
                <p class="lead">20</p>
                <h4 class="text-muted"><i class="fa fa-users fa-fw visible-md-inline-block visible-lg-inline-block"></i>成员</h4>
              </li>
              <li>
                <p class="lead">20</p>
                <h4 class="text-muted"><i class="fa fa-calendar-o fa-fw visible-md-inline-block visible-lg-inline-block"></i>活动</h4>
              </li>
              <li>
                <p class="lead">20</p>
                <h4 class="text-muted"><i class="fa fa-comments-o fa-fw visible-md-inline-block visible-lg-inline-block"></i>讨论</h4>
              </li>
            </ul>
          </div>
        </section>

        <section class="thumbnail group-organizer hidden-sm hidden-xs">
          <img src="/714468542.jpg" class="img-circle">
          <div class="caption">
            <p class="lead text-center">张泉凯</p>
            <h4 class="text-muted text-center">校长</h4>
            <p class="clearfix text-muted"><i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>在非洲，每一分钟，都有60秒过去。</p>
          </div>
        </section>
      </aside>

      <main class="col-md-9">
        <section class="group-description">
          <div class="page-header hidden-xs hidden-sm">
            <h1>杨浦创业俱乐部</h1>
          </div>
          <p class="text-muted">欢迎在上海的互联网公司的产品经理们加入，我们需要多多交流，不定期举办线下活动，每次讨论一个产品（一般是群组某个成员的产品）</p>
          <hr>
          <div class="text-right">
            <a class="btn btn-lg btn-success" href="javascript:void(0)" role="button">赶快加入</a>
            <a class="btn btn-lg btn-default" href="javascript:void(0)" role="button">关注</a>
          </div>
        </section>

        <section class="group-timeline">

          <h3 class="timeline-marker"><span class="label label-future">明天</span></h3>
          <ul class="timeline timeline-future">
            <li>
              <div class="timeline-badge"><i class="fa fa-home fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="fa fa-book fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="fa fa-pencil fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info"><i class="fa fa-cog fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <hr>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge success"><i class="fa fa-trash-o fa-fw"></i><div class="small">10:30</div><h3>发表新帖</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
          </ul>

          <h3 class="timeline-marker"><span class="label label-future">今天</span></h3>
          <ul class="timeline timeline-future">
            <li>
              <div class="timeline-badge"><i class="fa fa-home fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="fa fa-book fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="fa fa-pencil fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info"><i class="fa fa-cog fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <hr>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge success"><i class="fa fa-trash-o fa-fw"></i><div class="small">10:30</div><h3>发表新帖</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
          </ul>

          <hr class="timeline-separator">

          <ul class="timeline timeline-past">
            <li>
              <div class="timeline-badge"><i class="fa fa-home fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="fa fa-book fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="fa fa-pencil fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info"><i class="fa fa-cog fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <hr>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge success"><i class="fa fa-trash-o fa-fw"></i><div class="small">10:30</div><h3>发表新帖</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
          </ul>

          <h3 class="timeline-marker"><span class="label label-past">昨天</span></h3>
          <ul class="timeline timeline-past">
            <li>
              <div class="timeline-badge"><i class="fa fa-home fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="fa fa-book fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="fa fa-pencil fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info"><i class="fa fa-cog fa-fw"></i><div class="small">10:30</div><h3>新活动</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <hr>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge success"><i class="fa fa-trash-o fa-fw"></i><div class="small">10:30</div><h3>发表新帖</h3></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </main>
    </div>
  </div>
</template>
