<template name="groupHome">
  {{> authModal}}

  <div class="modal fade group-home-join-modal" tabindex="-1" role="dialog" aria-labelledby="groupHomeJoinModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
          <h4 class="modal-title" id="groupHomeJoinModalLabel">让大家了解我</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            {{#unless currentUser.profile.avatar}}
              <div class="form-group">
                <label for="inputGroupBadge" class="col-md-3 control-label">头像</label>
                <div class="col-md-5">
                  {{> imgUpload width=400 height=400 defaultSrc="/images/default-avatar.png"}}
                </div>
              </div>
            {{/unless}}

            {{#unless currentUser.profile.gender}}
              <div class="form-group">
                <label class="col-md-3 control-label">性别</label>
                <div class="col-md-8">
                  <div class="radio radio-inline">
                    <label>
                      <input type="radio" name="gender" value="男" checked="checked"> 男
                    </label>
                  </div>
                  <div class="radio radio-inline">
                    <label>
                      <input type="radio" name="gender" value="女"> 女
                    </label>
                  </div>
                </div>
              </div>
            {{/unless}}

            <div class="form-group">
              <label for="inputBio" class="col-md-3 control-label">自我介绍</label>
              <div class="col-md-8">
                <textarea class="form-control" rows="5" id="inputBio" name="bio" placeholder="向大家介绍下自己吧……"></textarea>
              </div>
            </div>

            <button class="hidden" type="submit">申请</button>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">申请入会</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="container group-home-container">
    <div class="row">
      <aside class="col-md-3">
        <section class="thumbnail group-info">
          <a href="#"><img src="{{badgeOrDefault}}"></a>
          <div class="caption">
            <h2 class="visible-xs-block visible-sm-block">{{name}}</h2>
            <h2 class="small text-muted">创建于 {{foundedDate}}</h2>

            <ul class="group-stats">
              <li>
                <p class="lead">{{memberCount}}</p>
                <h4 class="text-muted"><i class="fa fa-users fa-fw visible-md-inline-block visible-lg-inline-block"></i>{{memberAlias}}</h4>
              </li>
              <li>
                <p class="lead">{{eventCount}}</p>
                <h4 class="text-muted"><i class="fa fa-calendar-o fa-fw visible-md-inline-block visible-lg-inline-block"></i>活动</h4>
              </li>
              <li>
                <p class="lead">{{topicCount}}</p>
                <h4 class="text-muted"><i class="fa fa-comments-o fa-fw visible-md-inline-block visible-lg-inline-block"></i>讨论</h4>
              </li>
            </ul>
          </div>
        </section>

        {{#with owner}}
          <section class="thumbnail group-organizer hidden-sm hidden-xs">
            <img src="{{avatarOrDefault ownerUser.profile.avatar}}" class="img-circle">
            <div class="caption">
              <p class="lead text-center">{{nickname}}</p>
              <h4 class="text-muted text-center">{{roleName}}</h4>
              {{#with bio}}
                <p class="clearfix text-muted"><i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>{{this}}</p>
              {{/with}}
            </div>
          </section>
        {{/with}}
      </aside>

      <main class="col-md-9">
        <section class="group-description">
          <div class="page-header hidden-xs hidden-sm">
            <h1>{{name}}</h1>
          </div>
          <p class="text-muted">{{description}}</p>
          <hr>
          <div class="text-right">
            {{#if canJoin}}<button class="btn btn-lg btn-success" type="button">赶快加入</button>{{/if}}
            <a class="btn btn-lg btn-default" href="#" role="button">关注</a>
          </div>
        </section>

        <section class="group-timeline">

          {{#if tomorrowTimelineItems.count}}
            <h3 class="timeline-marker"><span class="label label-future">明天</span></h3>
            <ul class="timeline timeline-future">
              {{#each tomorrowTimelineItems}}
                {{> timelineItem}}
              {{/each}}
            </ul>
          {{/if}}

          <h3 class="timeline-marker"><span class="label label-future">今天</span></h3>
          <ul class="timeline timeline-future">
            {{#each todayFutureTimelineItems}}
              {{> timelineItem}}
            {{/each}}
          </ul>

          <hr class="timeline-separator">

          <ul class="timeline timeline-past">
            {{#each todayPastTimelineItems}}
              {{> timelineItem}}
            {{/each}}
          </ul>

          {{#if yesterdayTimelineItems.count}}
            <h3 class="timeline-marker"><span class="label label-past">昨天</span></h3>
            <ul class="timeline timeline-past">
              {{#each yesterdayTimelineItems}}
                {{> timelineItem}}
              {{/each}}
            </ul>
          {{/if}}
        </section>
      </main>
    </div>
  </div>
</template>

<template name="timelineItem">
  <li>
    <div class="timeline-badge"><i class="fa {{timelineItemFaClass}} fa-fw"></i><div class="small">{{dateFormat datetime "HH:mm"}}</div><h3>{{timelineItemName}}</h3></div>
    <div class="timeline-panel">
      <div class="timeline-heading visible-xs-block">
        <h3 class="timeline-title">{{timelineItemName}}<small class="pull-right"><i class="fa fa-clock-o"></i> {{dateFormat datetime "HH:mm"}}</small></h3>
      </div>
      {{> Template.dynamic template=timelineItemTemplate data=timelineItemData}}
    </div>
  </li>
</template>
