.group-member-list-main {

  form {
    margin-bottom: 18px;
  }

  ul.group-member-list-result {

    margin-left: -12px !important;
    margin-right: -12px !important;

    li {
      margin-bottom: 18px;
      padding-left: 12px !important;
      padding-right: 12px !important;

      .thumbnail {

        padding: 0;
        margin-bottom: 0;

        a {
          .clearfix();

          img {
            .img-responsive();
            width: 80px;
            float: left;
          }

          .caption {
            margin-left: 80px + 10;

          }
        }
      }
    }
  }
}
