.group-member-list-modal {
  .img-upload {
    border: 1px solid @input-border;
    margin-bottom: 0;

    width: 200px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-sm-min) {
      width: 220px;
    }

    @media (min-width: @screen-md-min) {
      width: 100%;
    }
  }

  form {
    .radio,
    .checkbox {
      height: 34px !important;
    }
  }
}

.group-member-list-main {

  .page-header {
    .btn.pull-right {
      margin-top: -3px;
    }
  }

  form {
    margin-bottom: 18px;
  }

  ul.group-member-list-result {

    margin-left: -12px !important;
    margin-right: -12px !important;

    li {
      margin-bottom: 18px;
      padding-left: 12px !important;
      padding-right: 12px !important;

      .thumbnail {

        padding: 0;
        margin-bottom: 0;

        a {
          display: block;
          .clearfix();
          text-decoration: none;

          &:hover {
            background-color: #eee;
          }

          img {
            .img-responsive();
            width: 87px;
            float: left;
          }

          .caption {
            margin-left: 80px + 10;
            padding-right: 20px;
            position: relative;

            .label {
              position: absolute;
              right: -4px;
              top: -4px;
              display: inline-block;
              padding: 4px 8px;
            }
          }
        }
      }
    }
  }

  .loader {
    margin: 10px 0 25px;
  }
}

.group-applicant-btn-group {
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
}
