<template name="groupMember">

  {{#unless subscriptionReady "memberHandle"}}
    {{> loading}}
  {{else}}

    {{#with member}}
      <div class="modal fade appointment-modal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
              <h4 class="modal-title" id="appointmentModalLabel">更换角色</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">

                <div class="form-group">
                  <label for="inputRole" class="col-md-3 control-label">分配角色</label>
                  <div class="col-md-8">
                    {{#styledSelect id="inputRole" name="role" selectValue=role}}
                      {{#each roles}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    {{/styledSelect}}
                  </div>
                </div>

                <button class="hidden" type="submit">确定</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确定</button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <main class="group-member-main">
        <div class="container">
          <div class="page-header">
            <button type="button" class="btn btn-warning pull-right appointment-btn">更换角色</button>
            <button type="button" class="btn btn-default pull-right edit-btn">编辑</button>
            <a href="{{pathFor 'groupMemberList' groupPath=../path}}" class="btn btn-default group-member-back"><i class="fa fa-chevron-left"></i> 返回成员列表</a>
          </div>

          <section class="group-member-info">

            <div>
              <div class="thumbnail">
                <a href="#"><img src="{{avatarOrDefault user.profile.avatar}}"></a>
                <div class="caption visible-xs-block">
                  <h2>{{nickname}}</h2>
                  <h2><span class="label label-info">{{roleName}}</span></h2>
                  <h2 class="small text-muted">于 {{fromNow statusUpdatedAt}} 加入</h2>
                </div>
              </div>
            </div>

            <div>
              <h1 class="hidden-xs">{{nickname}} <span class="label label-info">{{roleName}}</span></h1>
              <p class="text-muted hidden-xs">于 {{fromNow statusUpdatedAt}} 加入</p>
              <hr class="hidden-xs">

              <p class="text-muted clearfix"><i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>{{bio}}</p>
              <!--
              <div class="text-right">
                <hr>
                <button class="btn btn-lg btn-default" type="button">编辑</button>
              </div>
              -->
            </div>
          </section>

          <section class="group-member-stats row">
            <div class="col-xs-6 col-md-4">
              <div class="bg-info">
                <h4 class="text-muted">最近访问</h4>
                <p class="lead">5天前</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div>
                <h4 class="text-muted">报名活动</h4>
                <p class="lead">11</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div>
                <h4 class="text-muted">出席活动</h4>
                <p class="lead">5</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div>
                <h4 class="text-muted">分享活动</h4>
                <p class="lead">5</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div>
                <h4 class="text-muted">发表主题</h4>
                <p class="lead">10</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div>
                <h4 class="text-muted">分享主题</h4>
                <p class="lead">1000</p>
              </div>
            </div>
          </section>
        </div>
      </main>

    {{else}}
      {{> notFound}}
    {{/with}}
  {{/unless}}
</template>
