<template name="authJoin">

  <main class="auth-join-main">
    <div class="container">
      <div class="row">
        <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="姓名">
          </div>

          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-mobile fa-lg fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="手机号">
          </div>

          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-check-square-o fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="短信验证码">
            <div class="input-group-btn">
              <button class="btn btn-default" type="button">获取验证码</button>
            </div>
          </div>

          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" placeholder="密码">
          </div>

          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" placeholder="再次输入密码">
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox"> 我同意《某某协议》
            </label>
          </div>

          <button class="btn btn-lg btn-primary btn-center-block" type="submit">注册</button>
        </form>
      </div>
    </div>
  </main>
</template>
