<template name="index">
  {{> header}}

  <div class="modal fade index-modal" tabindex="-1" role="dialog" aria-labelledby="indexModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
          <h4 class="modal-title" id="indexModalLabel">请设置您的头像</h4>
        </div>
        <div class="modal-body">
          {{> imgUpload width=400 height=400 defaultSrc="/images/default-badge.png"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">以后再说</button>
          <button type="button" class="btn btn-primary">确定</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="jumbotron index-jumbotron" style="background-image: url('/images/201921-12062315434980.jpg');">
    <div class="index-jumbotron-mask"></div>
    <div class="container">
      <div class="index-jumbotron-caption row">
        <div class="col-sm-offset-5 col-sm-7 col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4">
          <!--<h1>欢迎来到蜜柚网！</h1>-->
          <p class="lead fadeInFromRight">做想做的事，见想见的人</p>
          <p class="fadeInFromBottom">
            <a class="btn btn-lg btn-transparent btn-center-block-xs" href="{{pathFor 'join'}}" role="button">立即注册 &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <main class="index-main">
    <div class="index-search-bar">
      <div class="container">
        <form class="visible-xs-block">
          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="车友协会&hellip;" name="searchString">
            <div class="input-group-btn">
              {{#styledSelect inline=true selectValue=searchOption}}
                <option>找活动</option>
                <option>找组织</option>
              {{/styledSelect}}
            </div>
          </div>

          <button class="hidden" type="submit">查询</button>
        </form>
        <form class="hidden-xs">
          <div class="input-group input-group-md">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="车友协会&hellip;" name="searchString">
            <div class="input-group-btn" data-toggle="buttons">
              <label class="btn btn-default {{isActiveRoute name='eventList'}}">
                <input type="radio" name="searchOption" autocomplete="off" checked="{{isActiveRoute name='eventList' class='checked'}}" value="找活动"> 找活动
              </label>
              <label class="btn btn-default {{isActiveRoute name='groupList'}}">
                <input type="radio" name="searchOption" autocomplete="off" checked="{{isActiveRoute name='groupList' class='checked'}}" value="找组织"> 找组织
              </label>
            </div>
          </div>

          <button class="hidden" type="submit">查询</button>
        </form>
      </div>
    </div>

    <div class="index-search-result">
      <div class="container">
        {{#if isActiveRoute "eventList"}}
          {{#if eventList.count}}
            <ul class="list-unstyled row event-card-list">
              {{#each eventList}}
                <li class="col-sm-6 col-md-4 event-card">
                  <a href="{{pathFor "eventDetail" eid=_id._str}}">
                    <div class="event-card-header">
                      <h4>{{eventGroup.name}}</h4>
                    </div>
                    <div class="event-card-poster">
                      <img src="{{posterOrDefault}}">
                      <h3>{{title}}</h3>
                    </div>
                    <div class="event-card-caption">
                      <ul class="fa-ul text-muted">
                        <li><i class="fa-li fa fa-clock-o"></i>{{dateFormat time.start "MMMDo H:mm"}} 开始</li>
                        <li><i class="fa-li fa fa-users"></i>{{#with joinedCount}}已有 {{this}} 人报名{{else}}还没有人报名{{/with}}</li>
                      </ul>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <p class="text-center text-muted">没有相关记录</p>
          {{/if}}
        {{else}}
          {{#if groupList.count}}
            <ul class="list-unstyled row group-card-list">
              {{#each groupList}}
                <li class="col-sm-6 col-md-4 col-lg-3 group-card">
                  <a href="{{pathFor 'groupHome' groupPath=path}}" style="background-image: url('{{badgeOrDefault logoUrl}}');">
                    <div class="group-card-mask"></div>
                    <div class="group-card-caption">
                      <h3>{{name}}</h3>
                      <p>已有 {{memberCount}} 个{{memberAlias}}</p>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <p class="text-center text-muted">没有相关记录</p>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </main>

  {{> footer}}
</template>
