<template name="index">
  <header class="index-header">
    {{> header}}
  </header>

  <div class="jumbotron index-jumbotron" style="background-image: url('/images/201921-12062315434980.jpg');">
    <div class="index-jumbotron-mask"></div>
    <div class="container">
      <div class="index-jumbotron-caption row">
        <div class="col-sm-offset-5 col-sm-7 col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4">
          <!--<h1>欢迎来到蜜柚网！</h1>-->
          <p class="lead fadeInFromRight">做想做的事，见想见的人</p>
          <p class="fadeInFromBottom">
            <a class="btn btn-lg btn-transparent" href="javascript:void(0)" role="button">立即注册 &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <main class="index-main">
    <div class="index-search-bar">
      <div class="container">
        <form>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="home-search-glyph">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="车友协会&hellip;">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default active">找活动</button>
              <button type="button" class="btn btn-default">找组织</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="index-search-result">
      <div class="container">
        <ul class="list-unstyled row group-card-list">
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url('bros.jpg');">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>狼窝</h3>
                <p>已有 1 个色狼</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos3.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/439966373.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>测试群组1</h3>
                <p>已有 2 个成员</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos4.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/438182650.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>上海足球爱好者</h3>
                <p>已有 2 个球友</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos3.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/439303338.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>测试群组3</h3>
                <p>已有 1 个成员</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos4.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/427321222.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>测试群组4</h3>
                <p>已有 1 个成员</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url('bros.jpg');">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>狼窝</h3>
                <p>已有 1 个色狼</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos3.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/439966373.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>测试群组1</h3>
                <p>已有 2 个成员</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos4.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/438182650.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>上海足球爱好者</h3>
                <p>已有 2 个球友</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos3.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/439303338.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>测试群组3</h3>
                <p>已有 1 个成员</p>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-md-4 col-lg-3 group-card">
            <a href="javascript:void(0)" style="background-image: url(http://photos4.meetupstatic.com/photo_api/event/rx308x180/cpt/cr308x180/ql90/sgb54c13bc46/427321222.jpeg);">
              <div class="group-card-mask"></div>
              <div class="group-card-caption">
                <h3>测试群组4</h3>
                <p>已有 1 个成员</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <footer>
    Here's the footer!
  </footer>
</template>
