<template name="layout">
  {{!--
  {{> header}}

  {{> authModals}}

  {{> Template.dynamic template=main}}

  {{#with footer}}
    {{> Template.dynamic template=this}}
  {{else}}
    {{> footerCompact}}
  {{/with}}
  --}}

  {{> authModals}}

  {{#if content}}
    {{> Template.dynamic template=content}}
  {{else}}
    {{> commonLayout}}
  {{/if}}
</template>

<template name="commonLayout">

  {{> header}}

  {{> Template.dynamic template=main}}

  {{#if footer}}
    {{> Template.dynamic template=footer}}
  {{else}}
    {{> footerCompact}}
  {{/if}}
</template>
