<template name="discussionItem">
  <div class="discussion-item">
    <div class="discussion-item-header">
      <div class="discussion-item-header-left">
        <img src="/images/luntan.jpg" />
      </div>
      <div class="discussion-item-header-right">
        <p>
          <span class="glyphicon glyphicon glyphicon-user">{{userName}}</span>
          <span class="glyphicon glyphicon-time">{{dateFormate createdAt }}</span>
        </p>
        <p>
          <span><a href="#{{_id}}" id="{{_id}}">锚</a></span>
          {{#if canModify}}
            <span> <a href="{{pathFor "editDisc" discId=_id }}">编辑</a> </span>
          {{/if}}
          <span><a href="#reply" class="btn replyBtn">回复</a></span>
          {{#if existUserData}}
            <span class="glyphicon glyphicon-thumbs-up">已赞</span>
          {{else}}
            <span><a href="#" class="btn upVote"> <span class="glyphicon glyphicon-thumbs-up">赞</span></a></span>
          {{/if}}
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="discussion-item-content">
      <div class="discussion-item-content-subject container">
        <a data-toggle="collapse" data-target="#discussion-item-content-container">
          <span class="panel-title"><h4>主题：{{subject}}</h4></span>
        </a>
      </div>
      <div class="discussion-item-content-container" id="discussion-item-content-container">
        <p>
          {{{content}}}
        </p>
      </div>
    </div>
    <div class="discussion-item-reply">
      {{#if existData}}
        <div style="margin: 5px 0;">
          {{#if discussionCount}}
            <a id="load-more" class="load-more">查看更多...</a>
              <!--{{else}}
           <a class="loaded">数据加载完毕</a>-->
          {{/if}}
        </div>
        <table>
          {{#each commentItemsBefore}}
            {{> commentItem}}
          {{/each}}

          {{#each commentItemsAfter}}
            {{> commentItem}}
          {{/each}}
        </table>
      {{else}}
        <a class="loaded">暂无评论</a>
      {{/if}}
    </div>
    <div class="discussion-item-comment">
      {{#onlyIfLogin}}
        {{> comment}}
      {{else}}
        <p>请先登录！</p>
      {{/onlyIfLogin}}
    </div>
  </div>

</template>
