<template name="forumDiscussionItem">
  <div class="discussion-item">
    <div class="">
      <div class="forum-discussion-header">
        <div class="forum-discussion-header-left">
          <span><a
              href="{{pathFor "/groups/:groupPath/discussion" groupPath = groupPath}}"
              class="btn btn-default"><i
              class="glyphicon glyphicon-chevron-left">返回列表</i></a></span>
        </div>
        <div class="forum-discussion-header-right">
          <span {{authEdit}}><a
              href="{{pathFor "/groups/:groupPath/discussion/edit/:discId" groupPath = groupPath discId=_id }}"
              class="btn btn-warning">编辑</a></span>
          <span {{authDelete}}><button class="btn btn-danger delDisc">删除</button></span>
        </div>
        <div style="clear: both"></div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="discussion-item-header">
          <div class="discussion-item-header-left">
            <table>
              <tr>
                <td>
                  <img src="/images/luntan.jpg"/>
                </td>
                <td>
                  <p>
                    <span class="glyphicon glyphicon glyphicon-user">{{userName}}</span>
                  </p>
                  <p>
                    <span class="glyphicon glyphicon-time">{{dateFormate createdAt }}</span>
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="discussion-item-header-right">
            <table>
              <tr>
                <td>
                  <p>{{viewCount}}</p>

                  <p>浏览量</p>
                </td>
                <td>
                  <p>{{upVoteCount}}</p>

                  <p>被点赞</p>
                </td>
                <td>
                  <p>5</p>

                  <p>被分享</p>
                </td>
                <td>
                  <p>{{#if collectionCount}}{{collectionCount}}{{else}}
                    0{{/if}}</p>

                  <p>被收藏</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="clear"></div>
        </div>
        <div class="discussion-item-content ">
          <div class="discussion-item-content-subject">
            <a class="collapseBtn" href="#">
              <span class="panel-title">主题：{{subject}}</span>
            </a>
          </div>
          {{#if flagStatus}}
            <div class="discussion-item-content-container1 animate">
              <div class="content">
                <p class="flagImgShow">{{contentFormate}}...
                </p>
              </div>
              <div class="content-img">
                <div class="row">
                  {{#each imgPath}}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <img class="img-thumbnail item-img" src="{{this}}">
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{else}}
            <div class="discussion-item-content-container2 animate"
                 id="discussion-item-content-container">
              <p>
                {{{content}}}
              </p>
            </div>

          {{/if}}

        </div>
        <div class="discussion-item-footer">
          {{#if existUserData}}
            <span><i class="glyphicon glyphicon-thumbs-up"
                     style=" color: #d9534f"></i>已赞</span>
          {{else}}
            <span class="upVote"><i style=" color: #d9534f"
                                    class="glyphicon glyphicon-thumbs-up "></i>赞</span>
          {{/if}}
          <span><i class="glyphicon glyphicon-share" style=" color:#0097cf"></i>分享</span>
          {{#if existMyCollection}}
            <span><i class="glyphicon glyphicon-star"
                     style=" color: #3c763d"></i>已收藏</span>
          {{else}}
            <span class="my-collection"><i class="glyphicon glyphicon-star"
                                           style=" color: #3c763d"></i>收藏</span>
          {{/if}}
        </div>

      </div>
      <div class="col-md-4 col-xs-12 ">

        <div class="discussion-item-comment-wrap">

          <div class="discussion-item-reply">
            {{#if existData}}
              <div class="load">
                {{#if discussionCount}}
                  <a id="load-more" class="load-more">浏览历史...</a>
                {{else}}
                  <a id="load-more" class="load-more">暂无历史纪录</a>
                {{/if}}
              </div>
              <table class="comment-item">
                {{#each commentItemsBefore}}
                  {{> forumCommentItem}}
                {{/each}}

                {{#each commentItemsAfter}}
                  {{> forumCommentItem}}
                {{/each}}
              </table>
            {{else}}
              <a class="loaded">暂无评论</a>
            {{/if}}
          </div>
          <div class="discussion-item-comment">
            {{#onlyIfLogin}}
              {{> forumComment}}
            {{else}}
              <p>请先登录！</p>
            {{/onlyIfLogin}}
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
