<template name="forumComment">
  <form class="form" id="reply">
    <div class="form-content">
    <div class="form-content-wrap">
        <div class="form-content-left">
          <textarea class="comment" id="comment" name="comment"  placeholder="请回复..."></textarea>
        </div>
        <div class="form-content-right">
          <button  type="submit" >发送</button>
         </div>
      <div style="clear: both"></div>
    </div>
    </div>
    <span class="help-block">{{errorMessage 'comment'}}</span>
  </form>
</template>
