

.discussion-item{
  .forum-discussion-header{
    margin-top: 20px;
    .forum-discussion-header-left{
      float: left;
    };
    .forum-discussion-header-right{
      float: right;
    };
  };
  .discussion-item-header{
    background: #ffffff;
    border: #cccccc solid 1px;
    margin-top: 20px;
    .discussion-item-header-left{
      float:left;
      margin-right: 50px;
      img{
        padding: 10px;
      };
    };
    .discussion-item-header-right{
      table {
        td{
          text-align: center;
          padding: 10px;
        };
      };
      padding: 10px;
      float:left;
    };
    .clear{
      clear: both;
    }
  };
  //��ʽʧЧ
  .discussion-item-content{
    background: #ffffff;
    width: 100%;
    margin-top: 20px;
    .discussion-item-content-subject{
      text-align: center;
      color: #222222;
      font-size: 18px;
      a{
        margin: 10px 10px;
        text-underline: none;
        &:hover{
          text-underline: none;
        }
      }
    };
    .discussion-item-content-container2{
      width: auto;
      p{
        text-indent: 2em;
        padding: 0 20px;
        &:not(img){
          text-indent: 0;
        };
        img{
          max-width: 100%;
        };
      };
    };
    .discussion-item-content-container1{
      width: auto;
      .content-img{
        img.item-img{
          width: 100%;
          @media (min-width: @screen-xs-min) {
            height: 150px;
          }
          @media (max-width: @screen-xs-max) {
            height:auto;
          }
          margin-top: 5px;
        };
      };
    };
    @keyframes fade-in {
      0% {opacity: 0;}/*初始状态 透明度为0*/
      40% {opacity: 0;}/*过渡状态 透明度为0*/
      100% {opacity: 1;}/*结束状态 透明度为1*/
    }
    @-webkit-keyframes fade-in {/*针对webkit内核*/
      0% {opacity: 0;}
      40% {opacity: 0;}
      100% {opacity: 1;}
    }
    .animate {
      animation: fade-in;/*动画名称*/
      animation-duration: 1s;/*动画持续时间*/
      -webkit-animation:fade-in 1s;/*针对webkit内核*/
    }

  };
  .discussion-item-footer{
    height: 60px;
    line-height: 60px;
       font-size: 20px;
       text-align: center;
       margin: 10px 0;
       background:#ffffff;
       span{
         margin-right: 10px;
       };
     };
  .discussion-item-comment-wrap{
   width: auto;
    @media (min-width: 1200px){
      position: fixed;
      margin: 0 auto;
      padding-right: 107px;
    }
    @media (max-width: 1200px){
          position: fixed;
          margin: 0 auto;
          padding-right: 71px;
        }
    @media (max-width: 992px){
      position: fixed;
      margin: 0 auto;
      padding-right: 66px;
    }
    @media (max-width: 768px){
      position: relative;
      margin: 0 auto;
      padding-right: 0px;
    }
    .discussion-item-reply{
     // min-width: 300px;
      min-width: 300px;
      min-height: 300px;
      max-height: 400px;
      overflow: scroll;
      border: #cccccc solid 1px;
      margin-top: 20px;

      a.load-more {
        //position: fixed;
        display: block;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
        height: 60px;
        line-height: 60px;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
          background: rgba(0, 0, 0, 0.1);
        };
      };
      a.loaded {

        display: block;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
        height: 60px;
        line-height: 60px;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
          background: rgba(0, 0, 0, 0.1);
        };
      };
    };
    .discussion-item-comment {
      margin-top: 20px;
      .form-content {
        border: solid 1px #c0c0c0;
        height: 56px;
        .form-content-wrap {
          width: 100%;
          .form-content-left {
            width: 85%;
            float: left;
            textarea {
              height: 54px;
              width: 100%;
            }
          ;
            .comment {
              border: none;
            }
          }
        ;
          .form-content-right {
            float: left;
            width: 15%;

            button {
              background-color: #d9534f !important;
              border: none;
              width: 100%;
              height: 54px;
              line-height: 54px;
            }
          ;
          }
        }
      ;
      }
    };
  }
}

/*@media only screen and (max-width: 768px){
  .discussion-item{
    .discussion-item-comment-wrap{
      position: relative;

    }

  }

}*/
