<template name="forumListDiscussion">
  <div class="list-discussion">
    <div class="container ">
      <div class="row">
             <div class="col-md-8 col-sm-8 col-xs-12">
               <h3 class="">上海苗圃创业俱乐部</h3>
             </div>
             <div class="col-md-4 col-sm-4 col-xs-12">
               <h3 class="my-controller">
               <button id="manageView" class="btn btn-default manageView">{{#if flagStatus}}普通视图{{else}}管理视图{{/if}}</button>
              <span {{authCreate}}> <a href="{{ pathFor 'start' groupPath = path}}" class="btn btn-success">发布新帖</a></span>
               </h3>
             </div>

      <!--  <div class="col-md-12">
          <div class="">
            <div>
              <h3 class="">上海苗圃创业俱乐部</h3>
            </div>
            <div>
              <p>
              <span><a href="{{ pathFor 'start' groupPath = path}}">
                <span class="glyphicon glyphicon-pencil">发起讨论</span>
              </a></span>
              <span><a href="{{ pathFor 'manageDiscussion'}}">
                <span class="glyphicon glyphicon-list">管理论坛</span>
              </a></span>
              </p>
            </div>
            <nav class="container">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">帖子排序<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="forum-new">最新发帖</a></li>
                    <li><a class="forum-hot">最近热门</a></li>
                    <li><a class="forum-comment">评论最多</a></li>
                  </ul>
                </li>
                <li><a href="#"></a></li>
              </ul>
            </nav>
          </div>
        </div>-->
      </div>
      <div class="list-discussion-form">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="search" class="form-control" id="exampleInputAmount" placeholder="">
              <div class="input-group-addon"><i class="glyphicon glyphicon-search "></i></div>
            </div>
          </div>

          <select style="float: right;" class="form-control disc-type">
            <option value="createdAt">最新发帖</option>
            <option value="upVoteCount">最近热门</option>
            <option value="commentCount">评论最多</option>
          </select>
        </form>
      </div>

    </div>
    <div class="container animate">
      <div class="table-responsive">
        {{#each listDiscussions}}
          {{> forumItemDiscussion}}
        {{/each}}
      </div>

      <div class="load">
        {{#if discussionCount}}
          <a id="load-more" class="load-more">加载更多...</a>
        <!--{{else}}
          <a class="loaded">加载完毕...</a>-->
        {{/if}}
      </div>
    </div>
  </div>
</template>
