<template name="forumCommentItem">
    {{#if myComment}}
      <tr>
        <td class="col1">
          <img style=" padding: 10px;"  src="/images/luntan.jpg" />
          <p><span class="glyphicon glyphicon glyphicon-user">{{userName}}</span></p>
        </td>
        <td class="col2">

          <div class="col2-row">
            <div class="col2-line col2-lf">
            {{comment}}
            </div>
          </div>
          <div style="text-align: left">{{ dateFormate createdAt}}</div>
        </td>
        <td class="col3">

        </td>
      </tr>
    {{else}}
      <tr>
        <td class="col1">
        </td>
        <td class="col2">
          <div class="col2-row">
            <div class="col2-line col2-rf">
            {{comment}}
            </div>
          </div>
          <div style="text-align: right">{{ dateFormate createdAt}}</div>
        </td>
        <td class="col3">
          <img style=" padding: 10px;"  src="/images/luntan.jpg" />
          <p><span class="glyphicon glyphicon glyphicon-user">{{userName}}</span></p>
        </td>
      </tr>
    {{/if}}
</template>
