<template name="forumCommentItem">
    {{#if myComment}}
      <tr>
        <td class="col1">
          <img style=" padding: 10px;"  src="/images/luntan.jpg" />
          <p><span class="glyphicon glyphicon glyphicon-user">{{userName}}</span></p>
        </td>
        <td class="col2">
          <div class="speech-bubble speech-bubble-left" style="padding: 10px 10px;">
            <span  style="font-size: 14px; color: #222222">{{comment}}</span>
          </div>
          <p>{{ dateFormate createdAt}}</p>
        </td>
        <td class="col3">

        </td>
      </tr>
    {{else}}
      <tr>
        <td class="col1">

        </td>
        <td class="col2">
          <div class="speech-bubble speech-bubble-right" style="padding: 10px 10px;">
            <span style="font-size: 14px; color: #222222">{{comment}}</span>
          </div>
          <p>{{ dateFormate createdAt}}</p>
        </td>
        <td class="col3">
          <img style=" padding: 10px;"  src="/images/luntan.jpg" />
          <p><span class="glyphicon glyphicon glyphicon-user">{{userName}}</span></p>
        </td>
      </tr>
    {{/if}}
</template>
