table.comment-item{
  tr{
    margin-top: 20px;
    width: 100%;
    td.col1{
      text-align: center;
      width: 15%;
      min-width: 15%;
      img{
        max-width:100%;
      };
    };
    td.col2{
      width: 70%;
      .speech-bubble {
        //position: relative;
        word-break: break-all;
        background: #cccccc;
        //background: #cccccc none repeat scroll 0% 0%;
        //width: auto;
        //min-height: 50px;
        //color: #efe7e0;
        text-align: left;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0.4;
        /*&:after {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          border: 15px solid;
        }
      ;*/
      };
    };
    td.col3{
      text-align: center;
      width: 15%;
      img{
        max-width:100%;
      };
    };
  };
}

/*
.speech-bubble {
  position: relative;
  background: #cccccc none repeat scroll 0% 0%;
  width: auto;
  min-height: 50px;
  color: #efe7e0;
  text-align: left;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.4;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
}
.speech-bubble-left:after {
  border-right-color: #cccccc;
  top: 50%;
  right: 100%;
  margin-top: -15px;
}
.speech-bubble-right:after {
  border-left-color: #cccccc;
  left: 100%;
  top: 50%;
  margin-top: -15px;
}
*/
