<template name="itemDiscussion">
  <div class="item-discussion">
    <div class="item-discussion-wrap">
      <div class="item-discussion-header">
        <div class="item-discussion-header-left">
          <img class="" src="/images/luntan.jpg"/>
        </div>
        <div class="item-discussion-header-right">
          <p><span class="glyphicon glyphicon glyphicon-user">{{userName}}</span></p>
          <p><span class="glyphicon glyphicon-time">{{dateFormate createdAt }}</span></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="item-discussion-content">
        <div class="content-header">
          <h3>
            {{#if setTopCss}}
              <span class="setTop">顶</span>
            {{/if}}
            <a href="{{pathFor "singleDisc" discId=_id }}">{{subject}}</a>
          </h3>
        </div>
        <div class="content">
          <p>{{contentFormate}}...
            <a href="{{pathFor "singleDisc" discId=_id }}">《查看详情</a>
          </p>

        </div>
        <div class="content-img">
          <div class="row">
            {{#each imgPath}}
            <div class="col-md-3 col-sm-6 col-xs-12">
              <img class="img-thumbnail item-img" src="{{this}}">
            </div>
            {{/each}}
          </div>
        </div>
        <div class="content-footer">
          <p>
             <span class="p-right">
               <span class="glyphicon glyphicon-thumbs-up">赞</span>
               <span class="badge">{{upVoteCount}}</span>
               <span class="glyphicon glyphicon-comment"></span>
               <span class="badge">{{commentCount}}</span>
             </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
