<template name="adminLogin">
  <div class="container">
    <div class="adminLogin">
      <form class="form-inline" role="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="adminPassword"   id = "adminPassword" class="form-control adminPassword" placeholder="请输入登录口令">
          </div>
        </div>
        <div class="">
          <span style="color: #ec971f">{{errorMsg}}</span>
        </div>
      </form>
    </div>
  </div>
</template>
