<template name="manageLeftMenu">
    <div class="panel-group">
      <div class="panel  panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">管理操作</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><a href="{{pathFor "manage"}}">用户管理</a></div>
          <div class="panel-footer"><a href="#">分组管理</a></div>
          <div class="panel-body"><a href="{{pathFor "manageEvents"}}">活动管理</a></div>
          <div class="panel-footer"><a href="#">论坛管理</a></div>
          <div class="panel-body"><a href="#">相册管理</a></div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
</template>
