<template name="manageHeader">
  <header>
      <nav class="navbar navbar-primary navbar-fixed-top group-header-navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">展开导航栏</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            {{!--<a href="{{pathFor 'index'}}" role="button" class="btn btn-default navbar-btn pull-left"><i class="fa fa-home"></i></a>--}}
            <a class="navbar-brand" href="{{pathFor 'index'}}"><i class="fa fa-home"></i>管理员登录</a>
          </div>

        </div>
      </nav>
    </header>

</template>
