<template name="manageLeftMenu">
  <div class="panel-group">
    <div class="panel  panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">管理操作</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">用户管理</div>
        <div class="panel-footer">分组管理</div>
        <div class="panel-body">活动管理</div>
        <div class="panel-footer">论坛管理</div>
        <div class="panel-body">相册管理</div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</template>
