<template name="eventManage">
  <!-- created by Chen Yuan. on 2015-09-25 -->
  <div class="container event-manage">
    {{#if Template.subscriptionsReady}}
      {{#if authLogin}}
        {{#if hasViewRight}}
          <header class="clearfix">
            <h1 class="pull-left">
              <p>{{eventInfo.title}} <span class="label label-info hidden-xs">{{eventInfo.status}}</span></p>
              <a href="{{eventInfo.dwz}}" class="event-manage-url hidden-xs">{{eventInfo.dwz}}</a>
            </h1>
            <ul class="list-inline pull-right hidden-xs">
              <li><a href="{{pathFor 'eventDetail' eid=eventInfo._id._str}}" class="btn btn-default event-preview"><span class="fa fa-eye"></span> 查看</a></li>
              <li>
                <a href="{{pathFor 'eventEdit' eid=eventInfo._id._str}}" class="btn btn-default event-edit {{authEdit}}"><span class="fa fa-pencil-square-o"> 编辑</span></a>
              </li>
            </ul>
          </header>
          <div class="row">
            <aside class="col-sm-3 col-xs-12">
              <ul class="nav nav-tabs nav-stacked" role="tablist">
                <li role="presentation" class="active"><a href="#basic-information" aria-controls="basic-information" role="tab" data-toggle="tab">基本信息</a></li>
                <li role="presentation"><a href="#join-manage" aria-controls="join-manage" role="tab" data-toggle="tab">报名管理</a></li>
              </ul>
            </aside>
            <main class="col-sm-9 col-xs-12">
              <!-- 活动基本信息 -->
              <div class="main-content tab-content">
                <section id="basic-information" class="tab-pane active" role="tabpanel">
                  <div class="table text-center">
                    <div class="tr">
                      <div class="td">
                        <div class="table-cell">
                          <div class="quantity" id="join-quantity">{{#if eventSignFormCount}}{{eventSignFormCount}}{{else}}0{{/if}}</div>
                          <div class="item">报名</div>
                        </div>
                      </div>
                      <div class="td">
                        <div class="table-cell">
                          <div class="quantity" id="scan-quantity">{{#if eventInfo.readCount}}{{eventInfo.readCount}}{{else}}0{{/if}}</div>
                          <div class="item">阅读</div>
                        </div>
                      </div>
                      <div class="td">
                        <div class="table-cell">
                          <div class="quantity" id="share-quantity">{{#if eventInfo.shareCount}}{{eventInfo.shareCount}}{{else}}0{{/if}}</div>
                          <div class="item">分享</div>
                        </div>
                      </div>
                      <div class="td">
                        <div class="table-cell">
                          <div class="quantity" id="comment-quantity">{{#if eventCommentCount}}{{eventCommentCount}}{{else}}0{{/if}}</div>
                          <div class="item">留言</div>
                        </div>
                      </div>
                      <div class="td">
                        <div class="table-cell">
                          <div class="quantity" id="concern-quantity">{{eventWatched}}</div>
                          <div class="item">关注</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <dl class="dl-horizontal">
                    <dt>活动时间:</dt>
                    <dd id="event-date-time">{{dateFormat eventTime.start "M月D日 HH:mm"}} ~ {{dateFormat eventTime.end "M月D日 HH:mm"}}</dd>
                    <dt>活动地点:</dt>
                    <dd id="event-location">{{eventInfo.location.city}}&nbsp;{{eventInfo.location.address}}</dd>
                    <dt>活动人数:</dt>
                    <dd><span id="event-joined-persons">{{eventSignFormCount}}</span> / <span id="event-persons-limit">{{eventInfo.member}}</span></dd>
                    <dt>标签:</dt>
                    <dd id="event-tags">
                      {{#each eventInfo.tags}}
                        <span class="label label-default" id="{{_id}}">{{name}}</span>
                      {{/each}}
                    </dd>
                    <dt>可见性:</dt>
                    <dd id="visibility">{{#if eventInfo.private}}内部活动{{else}}公开活动{{/if}}</dd>
                  </dl>
                  <hr/>
                  <!-- 二维码区域 -->
                  {{> qrcodeTpl}}

                  <button class="btn btn-primary hidden-xs" id="event-code" data-toggle="modal" data-target="#eventQrcodeModal">活动二维码</button>
                  <a href="{{pathFor 'eventEdit' eid=eventInfo._id._str}}" class="btn btn-primary visible-xs-inline-block">编辑活动</a>
                  {{#if disableCancel}}
                    <button disabled class="btn bg-warning">活动已取消</button>
                  {{else}}
                    {{#if authCancelEvent}}
                      <span id="event-cancel" >取消活动</span>
                    {{/if}}
                  {{/if}}
                </section>
                </section>

                <!-- 报名管理 -->
                <section id="join-manage" class="tab-pane" role="tabpanel">
                  <p><span id="number-of-joined">{{eventSignFormCount}}</span> 人报名</p>
                  <ul class="list-unstyled panel-group" id="joined-persons">
                    {{#each eventSignForms}}
                      {{> joinForm this}}
                    {{/each}}
                  </ul>
                  <!-- Modal for refuse buttons -->
                  <div id="refuseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="refuse">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          拒绝
                        </div>
                        <div class="modal-body">
                          <p>拒绝理由:</p>
                          <textarea class="form-control" name="refuse-reason" id="refuse-reason-form" rows="5"></textarea>
                          <div class="checkbox text-danger">
                            <label>
                              <input {{authRefuseForever}} id="refuse-forever" type="checkbox"/>
                              永久拒绝
                            </label>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                          <button type="button" class="btn btn-danger" id="denySignRequest">拒绝</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- modal end. -->
                </section>
              </div>
            </main>
          </div>
        {{else}}
          <div class="alert-danger text-center">您没有权限查看此页面</div>
        {{/if}}
      {{else}}
        <div class="alert-danger text-center">您还没有登陆</div>
      {{/if}}
    {{else}}
      {{> loading}}
    {{/if}}
  </div>
</template>

<template name="joinForm">
  <li class="panel panel-default">
    <div class="panel-heading" data-target="#pane{{_id}}">
      {{#with joinedUserAvatar}}
        <div class="personal-photo pull-left"><img class="img-responsive" src="{{avatarOrDefault}}" alt="个人头像"/></div>
      {{/with}}
      <div class="info-list pull-left">
        <div class="name">{{cname}}</div>
        <div class="phone-number">{{telephone}}</div>
        <div class="join-time text-muted">{{formatTimeMDHHmm createTime}}</div>
        <!-- TODO @cy 修改下这个样式，显示的内容是报名状态 -->
        <!--<div class="label label-info">{{status}}</div>-->
      </div>
      {{#if isRefuse}}
        <button disabled class="btn btn-danger pull-right">已拒绝</button>
      {{else}}
        <button class="btn btn-default refuse pull-right" {{authRefuse}} data-id="{{_id}}">拒绝</button>
      {{/if}}
      <!--<button class="btn btn-default accept pull-right" data-id="{{_id}}">通过</button>-->
    </div>
    <div class="panel-collapse collapse" id="pane{{_id}}">
      <div class="panel-body">
        <dl class="dl-horizontal">
          {{#each signForm}}
            <dt class="text-muted">{{label}}</dt>
            <dd>{{value}}</dd>
          {{/each}}
        </dl>
      </div>
    </div>
  </li>
</template>

<template name="qrcodeTpl">
  <!-- Modal -->
  <div class="modal fade" id="eventQrcodeModal" tabindex="-1" role="dialog" aria-labelledby="eventQrcode">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">活动二维码</h4>
        </div>
        <div class="center-block">
          <div id="eventQrcode"></div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" id="eventQrcodeDownLoad" download="{{eventInfo.title}}.png">下载二维码</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</template>
