<!-- created by Chen Yuan on 08/10/2015 -->
<template name="user">
  <div class="container user-nav-wrap">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <ul class="nav main-nav" role="tablist">
          <li role="presentation" class="active">
            <a class="user-tab" id="events-tab" role="tab" href="#event" aria-controls="events" data-toggle="dropdown" data-accordion="#event-menu">活动</a>
          </li>
          <div class="scrollspy-wrap hidden-xs">
            <ul id="event-menu" class="nav nav-stacked collapse panel-collapse">
              <li><a class="scroll-trigger" href="#event-doing-anchor">当前活动</a></li>
              <li><a class="scroll-trigger" href="#event-registered-anchor">已经报名</a></li>
              <li><a class="scroll-trigger" href="#event-focused-anchor">{{meOrOther}}的关注</a></li>
            </ul>
          </div>
          <li role="presentation">
            <a class="user-tab" id="clubs-tab" href="#clubs" role="tab" aria-controls="clubs" data-toggle="dropdown" data-accordion="#club-menu">俱乐部</a>
          </li>
          <div class="scrollspy-wrap hidden-xs">
            <ul id="club-menu" class="nav nav-stacked hidden-xs collapse panel-collapse">
              <li class="active"><a class="scroll-trigger" href="#club-anchor">{{meOrOther}}的俱乐部</a></li>
              <li><a class="scroll-trigger" href="#focused-club-anchor">{{meOrOther}}的关注</a></li>
            </ul>
          </div>
          <li role="presentation"><a class="user-tab" id="basic-info-tab" href="#basic-info" aria-controls="basic-info" role="tab">基本信息</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container user-wrap">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-xs-12">
        <main class="tab-content">
            <section id="event" class="tab-pane active" role="tabpanel" aria-labelledby="events-tab">
              {{#with eventNow}}
                {{> doingEvent}}
              {{/with}}
              <div id="event-registered">
                {{#if hasEvents}}
                  <h3 id="event-registered-anchor">{{meOrOther}}报名的活动</h3>
                {{else}}
                  <h3>{{meOrOther}}目前没有参加活动</h3>
                {{/if}}
                <ul class="list-unstyled">
                  {{#each events}}
                    {{> Template.dynamic template=dTemplate}}
                  {{/each}}
                </ul>
              </div>
              <div id="event-focused">
                <h3 id="event-focused-anchor">{{meOrOther}}关注的活动</h3>
                <ul class="list-unstyled">
                  {{#each watchingEvents}}
                    <li class="media">
                      <div class="media-left">
                        <a href="/event/detail/{{singleWatchEvent._id._str}}"><img class="media-object" src="http://7xjl8x.com1.z0.glb.clouddn.com/{{singleWatchEvent.poster}}" alt="活动海报"/>
                        </a>
                      </div>
                      <div class="media-body">
                        <a href="/event/detail/{{singleWatchEvent._id._str}}" class="event-title"><h4 class="media-heading">{{singleWatchEvent.title}}</h4></a>
                        <div class="date-plus-total fixed-box-bottom hidden-xs"><span class="date pull-left">{{#with singleWatchEvent}}{{eventTime.start}} - {{eventTime.end}}{{/with}}</span></div>
                        <div class="clearfix fixed-box-bottom">{{#with eventGroup}}<a href="{{pathFor 'groupHome' groupPath=eventGroup.path}}" class="event-organizer pull-left">{{eventGroup.name}}</a>{{/with}}<span class="total pull-right"><span>{{#if singleWatchEvent.joinedCount}}{{singleWatchEvent.joinedCount}}{{else}}0{{/if}}</span> / <span>{{singleWatchEvent.member}}</span></span></div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </section>
            <section id="clubs" class="tab-pane" role="tabpanel" aria-labelledby="clubs-tab">
              <div id="my-club">
                <h3 id="club-anchor">{{meOrOther}}的俱乐部</h3>
                <ul class="list-unstyled">
                  {{#each groups}}
                    <li class="media">
                      <div class="media-left">
                        <a href="{{pathFor 'groupHome' groupPath=path}}">
                          <img src="{{logoUrl}}" alt="group logo"/>
                        </a>
                      </div>
                      <div class="media-body">
                        <a href="{{pathFor 'groupHome' groupPath=path}}"><h4 class="media-heading">{{name}}</h4></a>
                        <div class="fixed-box-bottom">
                          <span class="group-members"><i class="fa fa-group"></i>{{memberCount}}</span>
                          <span class="group-events"><i class="fa fa-calendar-o"></i>{{eventCount}}</span>
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
              <div id="my-focused-club">
                <h3 id="focused-club-anchor">{{meOrOther}}关注的俱乐部</h3>
                <ul class="list-unstyled row group-card-list">
                  {{#each watchingGroupIds}}
                    {{#with watchingGroups}}
                      <li class="col-md-4 col-sm-6 group-card">
                        <a href="{{pathFor 'groupHome' groupPath=path}}" style="background-image: url({{logoUrl}});">
                          <div class="group-card-mask"></div>
                          <div class="group-card-caption">
                            <h3>{{name}}</h3>
                            <p>{{watchingGroupsMemberCount}} 名成员，{{watchingGroupsEventCount}} 次活动</p>
                          </div>
                        </a>
                      </li>
                    {{/with}}
                  {{/each}}
                </ul>
              </div>
            </section>
            <section id="basic-info" class="tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">
              {{#with basicInfo}}
                <div class="user-info">
                  <div class="portrait"><img class="img-responsive img-circle" src="{{avatarOrDefault}}" alt="avatar"/>
                  </div>
                  <div class="info-list">
                    <p><span class="name">{{profile.name}}</span>{{#if hasGender}}<span class="label label-default"><i class="fa {{userGender}}"></i></span>{{/if}}</p>
                    {{#if userJudge}}<div class="phone-number">{{mobile}}</div>{{/if}}
                  </div>
                </div>
                <ul class="list-inline tag-list">
                  {{#each profile.traits}}
                    <li class="tag"><span class="label label-default">{{name}}</span></li>
                  {{/each}}
                </ul>
                <hr class="hidden-xs"/>
                {{#if userJudge}}
                  <a href="/users/{{_id}}/edit" class="btn btn-lg btn-block btn-default btn-edit">编辑</a>
                {{/if}}
              {{/with}}
            </section>
        </main>
      </div>
    </div>
  </div>
</template>

<template name="todayOrTomorrowEvent">
  <li class="media">
    <div class="media-left">
      <div class="media-object">
        <div class="month small {{#if eventTodayOrTomorrow.today}}today-or-tomorrow{{/if}}">{{eventTodayOrTomorrow.eventDiffTimes}}</div>
        <div class="day time">{{eventTodayOrTomorrow.eventHour}}:{{eventTodayOrTomorrow.eventMinute}}</div>
      </div>
    </div>
    <div class="media-body">
      <a href="/event/detail/{{_id._str}}" class="event-title">{{title}}</a>
      <div class="clearfix fixed-box-bottom">
        <a href="" class="event-organizer pull-left hidden-xs">{{author.club.name}}</a>
        <span class="registered-persons pull-right">已经有<span>{{#if joinedCount}}{{joinedCount}}{{else}}0{{/if}}&nbsp;</span>人报名</span>
      </div>
    </div>
  </li>
</template>

<template name="calendarEvent">
  <li class="media {{#if eventTodayOrTomorrow.timeout}}hidden{{/if}}">
    <div class="media-left">
      <div class="media-object">
        <div class="month small">{{eventCalendar.month}}</div>
        <div class="day">{{eventCalendar.day}}</div>
      </div>
    </div>
    <div class="media-body">
      <a href="/event/detail/{{_id._str}}" class="event-title">{{title}}</a>
      <div class="clearfix fixed-box-bottom">
        <a href="" class="event-organizer pull-left hidden-xs">{{author.club.name}}</a>
        <span class="registered-persons pull-right">已经有<span>{{#if joinedCount}}{{joinedCount}}{{else}}0{{/if}}&nbsp;</span>人报名</span>
      </div>
    </div>
  </li>
</template>

<template name="doingEvent">
  <div id="event-doing">
    <h3 id="event-doing-anchor">当前的活动</h3>
    <img class="img-responsive" src="http://7xjl8x.com1.z0.glb.clouddn.com/{{poster}}" alt="event-poster"/>
    <div class="introduction event-post-padding">
      <header class="poster-header">{{title}}</header>
      <ul class="list-inline event-intro-share">
        <li><a title="分享到微信" class="fa fa-weixin small-img" href="#"></a></li>
        <li><a title="分享到新浪微博" class="fa fa-weibo small-img" href="#"></a></li>
        <li><a title="分享到qq空间" class="fa fa-qq small-img" href="#"></a></li>
      </ul>
      <ul class="list-unstyled event-intro-list">
        <li class="clearfix"><i class="fa fa-calendar"></i><p>{{eventTime.start}}&nbsp;--&nbsp;{{eventTime.end}}</p></li>
        <li class="clearfix"><i class="fa fa-map-marker"></i><p>{{location.city}}{{location.address}}</p></li>
        <li class="clearfix"><i class="fa fa-group"></i><p>{{#if joinedCount}}{{joinedCount}}{{else}}0{{/if}}&nbsp;/&nbsp;{{member}}</p></li>
        <li class="clearfix"><i class="fa fa-dot-circle-o"></i>
          {{author.club.name}}
        </li>
      </ul>
    </div>
  </div>
</template>

