<!-- created by Chen Yuan on 08/10/2015 -->
<template name="user">
  <div class="container user-nav-wrap">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <ul class="nav main-nav" role="tablist">
          <li role="presentation" class="active">
            <a class="user-tab" id="events-tab" role="tab" href="#event" aria-controls="events" data-toggle="dropdown" data-accordion="#event-menu">活动</a>
          </li>
          <div class="scrollspy-wrap hidden-xs">
            <ul id="event-menu" class="nav nav-stacked collapse in panel-collapse">
              <li><a class="scroll-trigger" href="#event-doing-anchor">当前活动</a></li>
              <li><a class="scroll-trigger" href="#event-registered-anchor">已经报名</a></li>
              <li><a class="scroll-trigger" href="#event-focused-anchor">我的关注</a></li>
            </ul>
          </div>
          <li role="presentation">
            <a class="user-tab" id="clubs-tab" href="#clubs" role="tab" aria-controls="clubs" data-toggle="dropdown" data-accordion="#club-menu">俱乐部</a>
          </li>
          <div class="scrollspy-wrap hidden-xs">
            <ul id="club-menu" class="nav nav-stacked hidden-xs collapse panel-collapse">
              <li class="active"><a class="scroll-trigger" href="#club-anchor">我的俱乐部</a></li>
              <li><a class="scroll-trigger" href="#focused-club-anchor">我的关注</a></li>
            </ul>
          </div>
          <li role="presentation"><a class="user-tab" id="basic-info-tab" href="#basic-info" aria-controls="basic-info" role="tab">基本信息</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container user-wrap">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-xs-12">
        <main class="tab-content">
          <section id="event" class="tab-pane active" role="tabpanel" aria-labelledby="events-tab">
            {{#with eventNow}}
              {{> doingEvent}}
            {{/with}}
            <div id="event-registered">
              <h3 id="event-registered-anchor">我报名的活动</h3>
              <!-- TODO: 这里的显示样式需要根据日期的不同而进行定制化的修改，今天，明天，以后的日期要用日历的形式来展现，同时具体时间的展示位置也有变动，需要相应的模板来替换 -->
              <ul class="list-unstyled">
                <!-- TODO: 下面的是今天，明天 -->
                {{#each events}}
                  {{> Template.dynamic template=dTemplate}}
                {{/each}}
              </ul>
            </div>

            <div id="event-focused">
              <h3 id="event-focused-anchor">我关注的活动</h3>
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-left">
                    <a href="#"><img class="media-object" src="http://www.huodongxing.com/Content/v2.0/img/poster/school.jpg" alt="event-poster"/>
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="event-title"><h4 class="media-heading">10日，大家一起去江湾体育场踢球</h4></a>
                    <div class="date-plus-total fixed-box-bottom hidden-xs"><span class="date pull-left">9月21日 - 10月23日</span></div>
                    <div class="clearfix fixed-box-bottom"><a href="#" class="event-organizer pull-left">上海市杨浦骑行爱好者俱乐部</a><span class="total pull-right"><span>192</span> / <span>300</span></span></div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left">
                    <a href="#"><img class="media-object" src="http://www.huodongxing.com/Content/v2.0/img/poster/school.jpg" alt="event-poster"/>
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="event-title"><h4 class="media-heading">10日，大家一起去江湾体育场踢球</h4></a>
                    <div class="date-plus-total fixed-box-bottom hidden-xs"><span class="date pull-left">9月21日 - 10月23日</span></div>
                    <div class="clearfix fixed-box-bottom"><a href="#" class="event-organizer pull-left">上海市杨浦骑行爱好者俱乐部</a><span class="total pull-right"><span>192</span> / <span>300</span></span></div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left">
                    <a href="#"><img class="media-object" src="http://www.huodongxing.com/Content/v2.0/img/poster/school.jpg" alt="event-poster"/>
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="event-title"><h4 class="media-heading">10日，大家一起去江湾体育场踢球</h4></a>
                    <div class="date-plus-total fixed-box-bottom hidden-xs"><span class="date pull-left">9月21日 - 10月23日</span></div>
                    <div class="clearfix fixed-box-bottom"><a href="#" class="event-organizer pull-left">上海市杨浦骑行爱好者俱乐部</a><span class="total pull-right"><span>192</span> / <span>300</span></span></div>
                  </div>
                </li>
              </ul>
            </div>
          </section>
          <section id="clubs" class="tab-pane" role="tabpanel" aria-labelledby="clubs-tab">
            <div id="my-club">
              <h3 id="club-anchor">我的俱乐部</h3>
              <ul class="list-unstyled">
                {{#each groups}}
                  <li class="media">
                    <div class="media-left">
                      <a href="{{path}}">
                        <img src="{{logoUrl}}" alt="group logo"/>
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="{{path}}"><h4 class="media-heading">{{name}}</h4></a>
                      <div class="fixed-box-bottom">
                        <!-- TODO: 俱乐部人数 -->
                        <span class="group-members"><i class="fa fa-group"></i>{{memberCount}}</span>
                        <!-- TODO: 俱乐部活动 -->
                        <span class="group-events"><i class="fa fa-calendar-o"></i>{{eventCount}}</span>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div id="my-focused-club">
              <h3 id="focused-club-anchor">我关注的俱乐部</h3>
              <ul class="list-unstyled row group-card-list">
                {{#each focusedGroups}}
                  <li class="col-md-4 col-sm-6 group-card">
                    <!-- TODO: data 释放数来是字符串的形式吗？ 那是否还有必要放置在双引号之间? -->
                    <a href="{{path}}" style="background-image: url({{logoUrl}});">
                      <div class="group-card-mask"></div>
                      <div class="group-card-caption">
                        <h3>{{name}}</h3>
                        <p>{{memberCount}} 名成员，{{eventCount}} 次活动</p>
                      </div>
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </section>
          <section id="basic-info" class="tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">
            {{#with basicInfo}}
            <div class="user-info">
              <div class="portrait"><img class="img-responsive img-circle" src="{{avatar}}" alt="avatar"/>
              </div>
              <div class="info-list">
                <!-- 性别这块怎么搞？实际存储的是什么东西？-->
                <p><span class="name">{{name}}</span><span class="label label-default"><i class="fa fa-venus"></i></span></p>
                <div class="phone-number">{{mobile}}</div>
              </div>
              <!-- 这里的二维码应该是点击弹出一个包含个人二维码的 modal. -->
              <div class="qr-code hidden-xs"><i class="fa fa-qrcode fa-3x" title="我的二维码名片"></i></div>
            </div>
            <ul class="list-inline tag-list">
              <li class="tag"><span class="label label-default">足球</span></li>
              <li class="tag"><span class="label label-default">排球</span></li>
              <li class="tag"><span class="label label-default">篮球</span></li>
              <li class="tag"><span class="label label-default">跑步</span></li>
              <li class="tag"><span class="label label-default">爬山</span></li>
            </ul>
            <hr class="hidden-xs"/>
            <a href="/user/edit/{{_id}}" class="btn btn-lg btn-block btn-default btn-edit">编辑</a>
            {{/with}}
            <button class="btn btn-lg btn-block btn-default visible-xs-block">二维码名片</button>
            <!-- TODO: 二维码名片应该是弹出来一个Modal用来展示名片的图片 -->
          </section>
        </main>
      </div>
    </div>
  </div>
</template>

<template name="todayOrTomorrowEvent">
  <li class="media">
    <div class="media-left">
      <div class="media-object">
        <div class="month small {{#if eventTodayOrTomorrow.today}}today-or-tomorrow{{/if}}">{{eventTodayOrTomorrow.eventDiffTimes}}</div>
        <div class="day time">{{eventTodayOrTomorrow.eventHour}}:{{eventTodayOrTomorrow.eventMinute}}</div>
      </div>
    </div>
    <div class="media-body">
      <a href="/event/detail/{{_id._str}}" class="event-title">{{title}}</a>
      <div class="clearfix fixed-box-bottom">
        <a href="" class="event-organizer pull-left hidden-xs">上海市杨浦骑行爱好者俱乐部</a>
        <!-- Todo:  这里的报名人数暂时数据库里面没有这个字段, 也没有主办方。-->
        <span class="registered-persons pull-right">已经有<span>123</span>人报名</span>
      </div>
    </div>
  </li>
</template>

<template name="calendarEvent">
  <li class="media {{#if eventTodayOrTomorrow.timeout}}hidden{{/if}}">
    <div class="media-left">
      <div class="media-object">
        <div class="month small">{{eventCalendar.month}}</div>
        <div class="day">{{eventCalendar.day}}</div>
      </div>
    </div>
    <div class="media-body">
      <a href="/event/detail/{{_id._str}}" class="event-title">{{title}}</a>
      <div class="clearfix fixed-box-bottom">
        <a href="" class="event-organizer pull-left hidden-xs">上海市杨浦骑行爱好者俱乐部</a>
        <!-- Todo:  这里的报名人数暂时数据库里面没有这个字段, 也没有主办方。-->
        <span class="registered-persons pull-right">已经有<span>123</span>人报名</span>
      </div>
    </div>
  </li>
</template>

<template name="doingEvent">
  <div id="event-doing">
    <h3 id="event-doing-anchor">当前的活动</h3>
    <img class="img-responsive" src="{{poster}}" alt="event-poster"/>
    <div class="introduction event-post-padding">
      <header class="poster-header">{{title}}</header>
      <ul class="list-inline event-intro-share">
        <li><a title="分享到微信" class="fa fa-weixin small-img" href="#"></a></li>
        <li><a title="分享到新浪微博" class="fa fa-weibo small-img" href="#"></a></li>
        <li><a title="分享到qq空间" class="fa fa-qq small-img" href="#"></a></li>
      </ul>
      <ul class="list-unstyled event-intro-list">
        <li class="clearfix"><i class="fa fa-calendar"></i><p>{{eventTime.start}}&nbsp;--&nbsp;{{eventTime.end}}</p></li>
        <li class="clearfix"><i class="fa fa-map-marker"></i><p>{{location.city}}{{location.address}}</p></li>
        <li class="clearfix"><i class="fa fa-group"></i><p>0&nbsp;/&nbsp;{{member}}</p></li>
        <li class="clearfix"><i class="fa fa-dot-circle-o"></i>
          上海市杨浦骑行爱好者俱乐部
        </li>
      </ul>
    </div>
  </div>
</template>

