<template name="eventDetail">
  <div class="event-detail-wrap">

    <!-- 活动详情介绍 -->
    <div class="container event-home">
      {{#if Template.subscriptionsReady}}


        <div class="row">

          <div class="col-sm-9 col-xs-12 main-container">

            {{#with eventDetail}}
              <section class="event-poster" id="poster">
                <!-- 活动基本信息 -->
                <!-- TODO @cy 此处的图片要限定下高度，暂时写在style，可以提取出去 -->
                <img style="max-height: 300px" src="http://7xjl8x.com1.z0.glb.clouddn.com/{{poster}}" alt="rifare">
                <div class="introduction event-post-padding">
                  <header class="poster-header">
                    {{title}}
                    {{#if isSaved}}
                      <span id="saveEvent" class="pull-right glyphicon glyphicon-star" title="已收藏" aria-hidden="true"></span>
                    {{else}}
                      <span id="saveEvent" class="pull-right glyphicon glyphicon-star-empty" title="未收藏" aria-hidden="true"></span>
                    {{/if}}

                  </header>
                  <ul class="list-inline event-intro-share">
                    <li><a title="分享到微信" class="fa fa-weixin small-img" href="#"></a></li>
                    <li><a title="分享到新浪微博" class="fa fa-weibo small-img" href="#"></a></li>
                    <li><a title="分享到qq空间" class="fa fa-qq small-img" href="#"></a></li>
                  </ul>

                  <ul class="list-unstyled event-intro-list">
                    <li class="clearfix"><i class="fa fa-calendar"></i><p>{{eventTime.start}}&nbsp;--&nbsp;{{eventTime.end}}</p></li>
                    <li class="clearfix"><i class="fa fa-map-marker"></i><p>{{location.city}}{{location.address}}</p></li>
                    <li class="clearfix"><i class="fa fa-group"></i>
                      <p>
                      {{#if joinedCount}}
                        {{joinedCount}}
                      {{else}}
                        0
                      {{/if}}
                      &nbsp;/&nbsp;{{member}}
                      </p>
                    </li>
                    <li class="clearfix"><i class="fa fa-dot-circle-o"></i>
                      <!-- TODO 修改 href 可以链接到俱乐部 -->
                      <a href="#">
                        <span class="badge" id="{{author.club.id}}">{{author.club.name}}</span>
                      </a>
                    </li>
                  </ul>
                  <buttom class="btn btn-warning {{hiddenPubBtn}}" id="publish-event" href="">发布活动</buttom>
                </div>
              </section>

              <!-- 活动详情描述 -->
              <section class="event-all-info event-post-padding" id="information">
                <!-- 插入活动详情的 html string -->
                {{{eventDetailDesc}}}
              </section>

            {{/with}}

            <section id="comment">
              <!-- 新建评论输入框 -->
              <div class="media new-comment">
                <div class="row">
                  <div class="media-left col-sm-2 col-xs-3">
                    <a href="#"><img src="/714468542.jpg" alt="xxx"/></a>
                  </div>
                  <!-- todo 替换为用户的数据 -->
                  <div class="media-info col-sm-10 col-xs-9">
                    <h4 class="media-heading">{{currentUser.profile.name}}</h4>
                    <!--
                      <div class="media-date">2015, 09, 05</div>
                     -->
                  </div>
                  <div class="col-sm-10 col-xs-12 media-text">
                    <form class="new-comment-form">
                      <textarea name="comment" id="commentContent" class="new-comment-area" rows="6" placeholder="感兴趣吗？评论一下吧！"></textarea>
                      <input type="button" id="submitComment" class="btn pull-right btn-primary" name="评论" value="评论"/>
                    </form>
                  </div>
                </div>
              </div>
              <!-- 包含两个template，评论以及隐藏的回复评论 -->
              {{> eventComment}}
            </section>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="joinEventFormModal" tabindex="-1" role="dialog" aria-labelledby="joinEventForm">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">报名活动</h4>
                </div>
                {{#if signForm}}
                  <div class="modal-body">
                    {{> quickForm buttonContent="报名" schema=signForm id="joinEvent" type='normal' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
                  </div>
                {{/if}}
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
              </div>
            </div>
          </div>


        </div>

      {{else}}
        {{> loading}}
      {{/if}}
    </div>

    <div class="container fixed-bar-wrap affix">
      <!-- 活动详情导航Tab -->
      <div class="row">
        <div class="event-sidebar col-sm-3 col-sm-offset-9">
          <div class="content" id="navbar-tobe-fixed">
            <ul class="nav nav-stacked" id="fixed-sidebar">
              <li role="presentation"><a href="#poster">主题海报</a></li>
              <li role="presentation"><a href="#information">活动详情</a></li>
              <li role="presentation"><a href="#comment">留言</a></li>
              <!-- 判断用户是否已经报名 -->
              {{#if isJoined}}
                <li id="nav-join" class="hidden-xs"><a href="">已报名</a></li>
              {{else}}
                <li id="nav-join" class="hidden-xs"><a href="" data-toggle="modal" data-target="#joinEventFormModal">{{optionSignFormTips}}</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="eventDetailAffixFooter">
  {{#footerCustom affix=true}}
    <div class="event-detail-footer">
      <section class="visible-xs-block mobile-join-wrap text-center">
        <button class="btn btn-lg btn-success mobile-join" data-toggle="modal" data-target="#joinEventFormModal">报名参加</button>
      </section>
    </div>
  {{/footerCustom}}
</template>
