body {
    position: relative;
    background-color: #f1f2f3;
}
textarea {
    resize: vertical;
}
.event-home .row section:not(:last-child) {
    margin-bottom: 15px;
}
.event-post-padding {
    padding: 15px;
    background-color: #fff;
}
.event-poster, .event-all-info {
    background-color: #fff;
}
.event-poster img {
    width: 100%;
    height: auto;
}
.event-poster .introduction header {
    font-size: 30px;
    margin-bottom: 20px;
}
.event-intro-share {
    margin-bottom: 30px;
}
.event-intro-list {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.event-intro-list li:not(:last-child) {
    margin-bottom: 20px;
}
.event-intro-list i {
    float: left;
    font-size: 18px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    margin-right: 20px;
}
.event-intro-list p {
    float: left;
    width: 80%;
    margin-bottom: 0;
}
.event-home #outer {
    width: 100%;
}
.event-home .small-img {
    font-size: 20px;
}
.event-sidebar .nav > li > a {
    padding: 20px;
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.event-sidebar .nav > li:not(:last-child) > a {
    margin-bottom: 15px;
}
.event-sidebar .nav > li > a {
    background-color: #fff;
}
.event-sidebar #nav-join > a {
    color: #fff;
    background-color: #449d44;
}
#event-sidebar .content {
    width: 100%;
    height: 100%;
}
#fixed-sidebar li[class=active]:not(#nav-join) > a {
    background-color: #337ab7;
    color: #fff;
}
#nav-apply > a {
    color: #fff;
    background: #337ab7;
}
#info-list .nav-pills #nav-apply[class=active] > a {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
#info-list .nav-pills li.active > a {
    text-decoration: none;
    background: #eee;
    color: #337ab7;
}
#info-list .nav-pills > li > a:hover {
    background-color: #eee;
    color: #337ab7;
}
#info-list .nav-pills #nav-apply > a:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.event-home .list-inline a:hover {
    text-decoration: none;
}
.fixed-block {
    position: fixed;
    top: 0px;
    z-index: 999;
}
.event-home #comment .comment-item {
    border-top: 1px solid #eee;
}
.event-home #comment .media{
    padding: 15px;
    margin: 0;
}
.event-home #comment .media img {
    width: 100%;
}
.event-home .media-heading {
    font-weight: bold;
}
.event-home #comment .media-date {
    margin-bottom: 15px;
    color: #ccc;
    letter-spacing: 2px;
}
.event-home #comment .media-body p {
    line-height: 2.0;
}
.event-home #comment {
    background-color: #fff;
}
.event-home #comment .comment-item .reply  a {
    font-size: 16px;
}
.event-home #comment .media-left a {
    display: block;
}
.event-home #comment .media-left a > img {
}
.event-home #comment .comment-item .reply a span {
    margin-left: 5px;
}
.event-home #comment a:hover, .event-home #comment a:focus {
    text-decoration: none;
}
.event-home .new-comment-area {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; }
.event-home .new-comment-area:focus {
    outline: none;
}
.event-home .new-comment-form .btn {
    padding: 6px 20px;
}
.event-home #comment .media .media-text {
    padding-top: 10px;
}
.event-home #comment .new-comment {
    padding-bottom: 30px;
}
.event-home .cancel-reply {
    padding-top: 6px;
    margin-right: 20px;
}
.event-home #inserted-dom {
    display: none;
}
.event-home .to-insert .inserted-content {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
}
.event-home .to-insert .media-info {
    padding-left: 0px;
    padding-right: 0px;
}
.event-home #comment .reply > a {
    padding-right: 15px;
    padding-bottom: 15px;
}
.event-home #comment .reply {
    min-height: 51px;
}
.event-home #comment .media-insert-text .reply-content {
}
@media (min-width: 768px) {
    .event-home .to-insert .media-info {
        padding-left: 15px;
        padding-right: 15px;
    }
    .event-home #comment .media .media-text {
        padding-top: 0;
    }
    .event-post-padding {
        padding: 35px;
        background-color: #fff;
    }
    .event-home .row section:not(:last-child) {
        margin-bottom: 35px;
    }
    .event-home #comment .media {
        padding: 35px;
        margin: 0;
    }
    .event-home #comment .reply > a {
        padding-right: 35px;
        padding-bottom: 35px;
    }
    .event-home .to-insert .media-text {
        padding: 0 15px;
    }
    .event-home .to-insert .inserted-content {
        padding-top: 35px;
        padding-left: 30px;
        padding-right: 35px;
        padding-bottom: 35px;
    }
}