<template name="footer">
  <footer class="footer footer-secondary">
    <div class="container">
      <div class="row footer-nav">
        <div class="col-sm-4">
          <img class="footer-brand" src="/images/logo-footer.png" alt="蜜柚网">
        </div>
        <div class="col-sm-2">
          <h5>活动服务</h5>
          <ul class="list-unstyled">
            <li><a href="#">活动服务1</a></li>
            <li><a href="#">活动服务2</a></li>
            <li><a href="#">活动服务3</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>社群服务</h5>
          <ul class="list-unstyled">
            <li><a href="#">社群服务1</a></li>
            <li><a href="#">社群服务2</a></li>
            <li><a href="#">社群服务3</a></li>
            <li><a href="#">社群服务4</a></li>
            <li><a href="#">社群服务5</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>蜜柚网</h5>
          <ul class="list-unstyled">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">下载APP</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>客服热线</h5>
          <p class="head">4000 000 000<br><small>周一至周五 09:00-18:00</small></p>
        </div>
      </div>

      <p class="text-center footer-copyright small">上海赛氪信息技术有限公司 版权所有 京ICP备13046454号</p>
    </div>
  </footer>
</template>
