<template name="header">
  <header>
    <nav class="navbar navbar-primary navbar-fixed-top header-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">展开导航栏</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          <a class="navbar-brand" href="{{pathFor 'index'}}">
            <img alt="蜜柚网" src="/images/logo-navbar.png">
          </a>

          {{!--
          <a class="navbar-brand" href="{{pathFor 'index'}}">蜜柚网</a>
          --}}

          <div class="dropdown navbar-left">
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentCity}} &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {{#each cities}}
                <li><a href="#">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>

        </div>

        <div id="navbar" class="collapse navbar-collapse">
          {{#with currentUser}}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="{{avatarOrDefault}}" class="img-rounded">
                  <div><span>{{profile.name}}</span> &nbsp;<span class="caret"></span></div>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">我的活动</a></li>
                  <li><a href="#">我的组织</a></li>
                  <li><a href="#">个人中心</a></li>
                  <li role="separator" class="divider hidden-xs"></li>
                  <li><a href="#">注销</a></li>
                </ul>
              </li>
            </ul>
          {{/with}}
          <ul class="nav navbar-nav navbar-right">
            <li class="{{isActiveRoute name='eventEdit'}}"><a href="{{pathFor 'eventEdit'}}"><i class="fa fa-calendar-plus-o fa-fw"></i> 发布活动</a></li>
            <li class="{{isActiveRoute name='createGroup'}}"><a href="{{pathFor 'createGroup'}}"><i class="fa fa-users fa-fw"></i> 创建组织</a></li>
            {{#unless currentUser}}<li class="{{isActiveRoute regex='^signin|join$'}}"><a href="{{#if isActiveRoute 'signin'}}{{pathFor 'join'}}{{else}}{{pathFor 'signin'}}{{/if}}"><i class="fa fa-sign-in fa-fw"></i> 登录 / 注册</a></li>{{/unless}}
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
