//@navbar-font-size: 16px;
//@navbar-font-size-lg: 20px;

body {
  padding-top: @navbar-height;
}

.header-navbar {
  margin-bottom: 0 !important;
  //.box-shadow(0 5px 5px #333);
  .navbar-header {
    .dropdown.navbar-left {
      float: left !important;
    }
  }

  @media (min-width: @screen-sm-min) {

  }
}
